html, body {
    margin: 0;
    font-family: "Calibri";
    height: 100%;
}


body {
    background-color: #eee;
    
    
}

header {
    background-color: #333;
    height: 50px;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    padding-left: 10px;
    
}

#sideMenu {
    background-color: #222; 
    width: 300px;
    float:left;
    height: 100%;
    position: fixed;
}

#cavaco {
    float:right;
    height: 100%;
    width: calc(100% - 300px);
}

#cavacoMenu {
    background-color:#ddd;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    position: fixed;
}

#scorePage {
/*    height: calc(100% - 100px);*/
    text-align: center;
    margin-top: 110px;
}

svg {
    cursor: pointer;
}
            
svg:hover {
    -webkit-filter: drop-shadow( -0px -0px 3px #000 );
    filter: drop-shadow( -0px -0px 0px #000 ); /* Same syntax as box-shadow */
}
